<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/sushi_style.css" type="text/css" />
		<title>Let's Eat Sushi!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/sushi.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>